body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: transparent;
}

#app {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.message {
  position: absolute;
  white-space: nowrap;
  right: 0;
  font-size: 24px;
  font-family: Kusukusuame-Regular;
  animation: scrollLeft 15s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(calc(-100vw - 100%));
  }
}

.message-content {
  display: inline;
}

.message-username {}

.message-token-emote {
  height: 20px;
  vertical-align: middle;
}

.message-token-text {
  height: 20px;
  vertical-align: middle;
}